// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

body
  padding-top 60px
  padding-bottom 40px

.auth
  .error
    color red

.sidebar-nav
  padding 9px 0

#projects
  h3
    float left
  .add
    float left
    margin 5px 0 0 10px
  #project-list
    clear both  

.task-list
  div
    float left
  .name, .slider-container, .actions
    margin-left 10px
  .slider-container
    position relative
    height 40px
  .slider
    position absolute
    bottom 0
    left 20px
    right 20px
  .limits.left
    position absolute
    left 0
    bottom 0
  .limits.right
    position absolute
    right 0
    bottom 0
  .actions
    margin-left 30px

  .task
    .remaining
      margin 5px 5px 0 0

      .hours
        margin-right 2px
        font-size 130%
        font-weight bold
        font-weight strong

.hour-change
  div
    float left;
  .arrow
    margin 3px 4px 0 4px
