<h3>{{name}}</h3>

<div id="burndown"></div>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Tasks</a></li>
    <li><a href="#tab2" data-toggle="tab">Project Info</a></li>
  </ul>
  <div class="tab-content">
    <div class="tasks tab-pane active" id="tab1"></div>
    
    <div class="tab-pane" id="tab2">
      <form class="form-horizontal well">
        <div class="control-group">
          <label class="control-label" for="input01">Project Name</label>
          <div class="controls">
            <input type="text" class="input-xlarge name uneditable-input" value="{{name}}">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="input01">Start Date</label>
          <div class="controls">
            <input type="text" class="input-xlarge name uneditable-input" value="{{startDate}}">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="input01">Target End Date</label>
          <div class="controls">
            <input type="text" class="input-xlarge name uneditable-input" value="{{endDate}}">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>