<h3>{{name}}</h3>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tasks" data-toggle="tab">Tasks</a></li>
    <li><a href="#tab2" data-toggle="tab">Project Info</a></li>
  </ul>
  <div class="tab-content">
    <div class="tasks tab-pane active" id="tab1"></div>
    
    <div class="tab-pane" id="tab2">
      <p>Infoz</p>
    </div>
  </div>
</div>