<div class="auth modal hide">
  <div class="modal-header">
    <h3>Sign Up</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="input01">Username</label>
        <div class="controls">
          <input type="text" class="input-xlarge username" autofocus=true>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="input01">Email</label>
        <div class="controls">
          <input type="text" class="input-xlarge email">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="input01">Password</label>
        <div class="controls">
          <input type="password" class="input-xlarge password">
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <p class="error"></p>
          <p>Already have an account? <a href="#signin">sign in</a></p>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="signup btn btn-primary">Sign Up</a>
  </div>
</div>
