<div class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>{{name}}</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label">Initial Hours</label>
        <div class="controls">
          <span class="input-xlarge uneditable-input">{{totalHours}}</span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Remaining Hours</label>
        <div class="controls">
          <span class="input-xlarge uneditable-input">{{remainingHours}}</span>
        </div>
      </div>
    </form>

    <table class="table table-bordered table-striped">
      <tbody class="change-list">
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a href="#" class="exit btn btn-primary">Close</a>
  </div>
</div>
