<td>

  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="span4">
          <div class="name">{{name}}</div>
        </div>

        <div class="span4">
          <div class="remaining">
            <div class="hours">{{remainingHours}}</div>HR remaining
          </div>
          
          <div class="change">
            <a class="subtract btn btn-small" href="#"><i class="icon-minus-sign"></i></a>
            <a class="add btn btn-small" href="#"><i class="icon-plus-sign"></i></a>
          </div>
        </div>

        <div class="span4">
          <div class="actions">
            <a href="#" class="complete btn btn-small"><i class="icon-ok"></i>Complete</a>
            <a href="#" class="details btn btn-small">Details</a>
            <a href="#" class="delete btn btn-danger btn-small"><i class="icon-remove icon-white"></i>Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</td>